manifest {
    name = 'my-pipeline'
    author = 'Tom Morrison'
    description = 'A short description'
    version = '0.1.0'
    nextflowVersion = '>=23.04.0'
}

params {
    input  = null
    outdir = "./results"

    help = false
    publish_dir_mode = 'copy'
}

profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }

    singularity {
        singularity.enabled    = true
        singularity.autoMounts = true
    }

    conda {
        conda.enabled = true
    }
}
