manifest {
    name = 'my-pipeline'
    author = 'Tom Morrison'
    description = 'A short description'
    version = '0.1.0'
    nextflowVersion = '>=23.04.0'
}

params {
    input  = null
    outdir = "./results"

    help = false
    publish_dir_mode = 'copy'

    // fastp qc options
    min_depth = 30
    lower_assembly_length = 5500000

    // sylph options
    sylph_db = "/Users/tommorrison/Desktop/pipeline/databases/gtdb-r232-c1000-dbv1.syldb"
}

profiles {
    docker {
        docker.enabled = true
        docker.runOptions = '--platform linux/amd64'
        singularity.enabled = false
    }

    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
        docker.enabled = false
    }

    conda {
        conda.enabled = true
    }
}
