manifest {
    name = 'my-pipeline'
    author = 'Tom Morrison'
    description = 'A short description'
    version = '0.1.0'
    nextflowVersion = '>=23.04.0'
}

params {
    input  = null
    outdir = "./results"

    help = false
    publish_dir_mode = 'copy'

    mode = short
    skip_preprocessing = false

    // fastp qc options
    min_depth = 30
    lower_assembly_length = 5500000

    // sylph options
    sylph_taxonomy = "gtdb_r232"
    sylph_db = null

    // assembly options
    min_contig_length = 500

    // qc options
    checkm2_db = null

    // annotation options
    bakta_db = null
}

profiles {
    standard {
        process {
            executor = 'local'

            withLabel: small {
                cpus = 1
                memory = 1.GB
            }
            withLabel: medium {
                cpus = 4
                memory = 8.GB
            }
            withLabel: large {
                cpus = 8
                memory = 16.GB
            }
            withLabel: huge {
                cpus = 16
                memory = 32.GB
            }
            withLabel: mega {
                cpus = 32
                memory = 64.GB
            }
        }
        docker {
            enabled = true
            runOptions = '-u $(id -u):$(id -g)'
        }
    }

    lsf {
        params.singularity_cachedir = "$projectDir/singularity_cache"

        process {
            executor = 'lsf'
            queue = 'normal'

            withLabel: small {
                cpus = 1
                memory = 1.GB
            }
            withLabel: medium {
                cpus = 8
                memory = 8.GB
            }
            withLabel: large {
                cpus = 16
                memory = 16.GB
            }
            withLabel: huge {
                cpus = 32
                memory = 32.GB
            }
            withLabel: mega {
                cpus = 64
                memory = 64.GB
            }
        }
        executor {
            perJobMemLimit = true
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = params.singularity_cachedir
        }
    }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

dag {
    enabled = true
    file = "${params.outdir}/dag.svg"
}

trace {
    enabled = true
    file = "${params.outdir}/execution_trace_${new Date().format('yyyyMMdd_HHmmss')}.txt"
}
