params {
    
    // --- qc params ---

    reference = null

    // fastp qc options (defaults)
    min_depth = 30
    lower_assembly_length = 5500000

    // mapping qc options (defaults)
    min_mapping_rate = 0.8
    min_contig_length = 500

    // assembly options (defaults)
    min_contig_length = 500

    // --- databases ---

    // sylph options (defaults)
    sylph_taxonomy = "gtdb_r232"
    sylph_db = null

    // qc options
    checkm2_db = null

    // annotation options
    bakta_db = null

}