params {
    
    // --- qc params ---

    reference = null

    // fastp qc options (defaults)
    min_depth = 30
    lower_assembly_length = 5500000

    // mapping qc options (defaults)
    min_mapping_rate = 0.8
    min_contig_length = 500

    // assembly options (defaults)
    min_contig_length = 500

    // assembly qc options
    target_genome_size = 6250000
    ref_ani = 95
    completeness = 99
    contamination = 5
    target_gc_content = 0.66

    // --- databases ---

    sylph_taxonomy = "gtdb_r232"
    sylph_db = null
    checkm2_db = null
    bakta_db = null

}